/*
 * SPDX-License-Identifier: BSD-2-Clause
 * SPDX-FileCopyrightText: 2025 Arjen Hiemstra <ahiemstra@heimr.nl>
 */

/*
 * Application-structural elements like windows, drawers, etc.
 */

applicationwindow
{
    background-color: var(--window-background-color);
    color: var(--window-text-color);
}

page
{
    background-color: var(--window-background-color);
    color: var(--window-text-color);
}

toolbar
{
    padding: var(--small-spacing);
}

drawer
{
    color: var(--view-text-color);
    background-color: var(--view-background-color);

    &.modal {
        color: var(--window-text-color);
        background-color: var(--window-background-color);
    }
}

scrollview {
    background-color: var(--view-background-color);
    color: var(--view-text-color);

    &.vertical-scroll {
        padding-right: var(--scrollbar-size);
    }

    &.horizontal-scroll {
        padding-bottom: var(--scrollbar-size);
    }
}

pageindicator {
    spacing: var(--small-spacing);
}

pageindicatordelegate {
    background-color: var(--indicator-color);
    width: 8px;
    height: 8px;
    border-radius: 4px;

    &:pressed {
        background-color: var(--indicator-press-color);
    }

    .current {
        background-color: var(--indicator-current-color);
    }
}
