/*
 * SPDX-License-Identifier: BSD-2-Clause
 * SPDX-FileCopyrightText: 2025 Arjen Hiemstra <ahiemstra@heimr.nl>
 */

applicationwindow {
    background-color: var(--window-background-color);
}

applicationheader {
    background-color: var(--header-background-color);
    border-color: var(--header-border-color);
    border-bottom: 1px solid var(--header-border-color);
}
