/*
 * SPDX-License-Identifier: BSD-2-Clause
 * SPDX-FileCopyrightText: 2025 Arjen Hiemstra <ahiemstra@heimr.nl>
 */

/*
 * Buttons and button-like controls.
 */

:root {
    --button-active-text-color: custom-color("kcolorscheme", "active", "button", "foreground", "text");
    --button-active-background-color: custom-color("kcolorscheme", "active", "button", "background", "normal");
    --button-active-border-color: mix(var(--button-active-background-color), var(--button-active-text-color), 0.3);
    --button-active-highlight-color: mix(var(--button-active-background-color), var(--highlight-color), 0.5);
    --button-active-checked-color: mix(var(--button-active-background-color), var(--button-active-text-color), 0.2);

    --button-inactive-text-color: custom-color("kcolorscheme", "inactive", "button", "foreground", "text");
    --button-inactive-background-color: custom-color("kcolorscheme", "inactive", "button", "background", "normal");
    --button-inactive-border-color: mix(var(--button-inactive-background-color), var(--button-inactive-text-color), 0.3);
    --button-inactive-highlight-color: mix(var(--button-inactive-background-color), var(--highlight-color), 0.5);
    --button-inactive-checked-color: mix(var(--button-inactive-background-color), var(--button-inactive-text-color), 0.2);

    --button-disabled-text-color: custom-color("kcolorscheme", "disabled", "window", "foreground", "text");
    --button-disabled-background-color: custom-color("kcolorscheme", "disabled", "window", "background", "normal");
    --button-disabled-border-color: mix(var(--button-disabled-background-color), var(--button-disabled-text-color), 0.3);

    --button-border: 1px solid var(--button-active-border-color);
    --button-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.1);
}

button,
toolbutton,
checkbox indicator,
checkdelegate indicator,
menuitem indicator,
radiobutton indicator,
radiodelegate indicator,
combobox
{
    width: var(--medium-element-size);
    height: var(--medium-element-size);
    spacing: var(--small-spacing);
    padding: var(--large-spacing);
    border-radius: var(--corner-radius);

    text-alignment-horizontal: center;
    icon-alignment-horizontal: center;

    color: var(--button-active-text-color);
    border: var(--button-border);
    background-color: var(--button-active-background-color);

    &:hovered
    {
        border-color: var(--highlight-color);
    }

    &:visual-focus
    {
        border-color: var(--highlight-color);
        outline: var(--focus-outline);
    }

    &:checked
    {
        background-color: var(--button-active-checked-color);
    }

    &:disabled
    {
        color: var(--button-disabled-text-color);
        background-color: var(--button-disabled-background-color);
        border-color: var(--button-disabled-border-color);
        box-shadow: 0px 0px 0px 0px transparent;
    }

    &[display="text-under-icon"] {
        text-alignment-vertical: stack;
        icon-alignment-vertical: stack;
    }
}

button
{
    box-shadow: var(--button-shadow);
}

button:pressed,
toolbutton:pressed,
combobox:pressed
{
    border: 1px solid var(--highlight-color);
    background-color: var(--button-active-highlight-color);
    box-shadow: 0px 0px 0px 0px transparent;
}

button:checked
{
    box-shadow: 0px 0px 0px 0px transparent;
}

toolbutton,
button.flat,
combobox.flat
{
    border-color: transparent;
    background-color: transparent;
    box-shadow: 0px 0px 0px 0px transparent;

    &:hovered {
        border-color: var(--highlight-color);
    }

    &:disabled {
        border-color: transparent;
        background-color: transparent;
    }
}

toolbutton
{
    icon-size: var(--icon-size-smallmedium);
}

combobox
{
    layout-alignment: content fill center 0;
    text-alignment: content fill center 0;
    icon-alignment: content end center 0;
    icon-name: "arrow-down-symbolic";
    box-shadow: var(--button-shadow);

    &.editable {
        /* Ensure we have a minimum size that's at least one character + icon +
         * padding, otherwise the click target becomes too small and we can't
         * click to edit text anymore.
         */
        width: 48px;

        background-color: var(--view-background-color);
        border: 1px solid var(--view-border-color);
        box-shadow: 0px 0px 0px 0px transparent;

        &:hovered {
            border-color: var(--highlight-color);
        }

        &:pressed {
            border-color: var(--highlight-color);
            icon-color: var(--highlight-color);
        }
    }
}

popup.combobox
{
    background-color: var(--view-background-color);
}

toolseparator {
    background-color: var(--button-active-border-color);

    .horizontal {
        width: var(--large-element-size);
        height: 1px;
        inset: 0px var(--small-spacing);
    }

    .vertical {
        width: 1px;
        height: var(--large-element-size);
        inset: var(--small-spacing) 0px;
    }
}
