/*
 * SPDX-License-Identifier: BSD-2-Clause
 * SPDX-FileCopyrightText: 2025 Arjen Hiemstra <ahiemstra@heimr.nl>
 */

checkbox,
radiobutton
{
    icon-alignment-horizontal: start;
/*     icon-width:  */
    spacing: var(--small-spacing);
    padding: var(--small-spacing);

    color: var(--button-text-color);
}

checkbox indicator,
radiobutton indicator
{
    layout-alignment-container: content;
    layout-alignment-horizontal: start;
    layout-alignment-order: -1;
}

checkbox indicator,
checkdelegate indicator,
menuitem indicator,
radiobutton indicator
{
    width: var(--icon-size-small);
    height: var(--icon-size-small);
}

checkbox:checked indicator,
checkdelegate:checked indicator,
menuitem:checked indicator,
radiobutton:checked indicator
{
    background-image: url("images/checkmark.svg");
    background-color: var(--button-highlight-color);
    border: 1px solid var(--highlight-color);
    color: var(--button-text-color);
}

radiobutton indicator
{
    border-radius: 8px;
}

radiobutton:checked indicator
{
    background-image: url("images/radio.svg");
}
