/*
 * SPDX-License-Identifier: BSD-2-Clause
 * SPDX-FileCopyrightText: 2025 Arjen Hiemstra <ahiemstra@heimr.nl>
 */

itemdelegate,
checkdelegate,
radiodelegate,
switchdelegate,
swipedelegate
{
    padding: var(--large-spacing) var(--medium-spacing);
    inset: var(--small-spacing) 3px;
    spacing: var(--small-spacing);

    border-radius: var(--corner-radius);

    icon-size: var(--icon-size-smallmedium);

    layout-alignment: content fill center 0;

    color: var(--window-text-color);

    &:hovered
    {
        border: 1px solid var(--highlight-color);
        background-color: var(--window-highlight-color);
    }

    &:pressed,
    &:highlighted
    {
        border: 1px solid var(--highlight-color);
        background-color: var(--highlight-color);
        color: var(--highlight-text-color);
    }

    &[display="text-under-icon"]
    {
        text-alignment-vertical: stack;
        icon-alignment-vertical: stack;
    }

    indicator
    {
        layout-alignment-container: content;
        layout-alignment-order: -1;
    }
}
