/*
 * SPDX-License-Identifier: BSD-2-Clause
 * SPDX-FileCopyrightText: 2025 Niccolò Venerandi <niccolo@venerandi.com>
 */

dialog
{
    spacing: var(--small-spacing);
    padding: var(--large-spacing);
    border-radius: var(--corner-radius);

    text-alignment-horizontal: center;
    icon-alignment-horizontal: center;

    color: var(--view-text-color);
    border: 1px solid var(--view-border-color);
    background-color: var(--view-background-color);
    box-shadow: var(--dialog-shadow);
}

dialogbuttonbox
{
    spacing: var(--small-spacing);
    padding: var(--large-spacing);

    /*
    This could look good:
    background-color: var(--window-background-color);
    border: 1px solid var(--view-border-color);
    TODO add border radius to bottom corners only
    */
}
