/*
 * SPDX-License-Identifier: BSD-2-Clause
 * SPDX-FileCopyrightText: 2025 Arjen Hiemstra <ahiemstra@heimr.nl>
 */

card
{
    background-color: var(--card-background-color);
    border: 1px solid var(--card-border-color);
    border-radius: var(--corner-radius);
    box-shadow: 0px 2px var(--grid-unit) 0px rgba(0, 0, 0, 0.1);
    color: var(--card-text-color);

    &:hovered {
        background-color: var(--card-hover-color);
    }

    &:pressed {
        background-color: var(--card-pressed-color);
    }
}

}
