/*
 * SPDX-License-Identifier: BSD-2-Clause
 * SPDX-FileCopyrightText: 2025 Arjen Hiemstra <ahiemstra@heimr.nl>
 */

menu
{
    border-radius: var(--corner-radius);
    padding: var(--small-spacing);

    background-color: var(--window-background-color);
    border: 1px solid var(--window-border-color);
    color: var(--window-text-color);
}

menuitem
{
    width: var(--medium-element-size);
    height: var(--medium-element-size);
    padding: var(--small-spacing);
    spacing: var(--small-spacing);

    border-radius: var(--corner-radius);

    color: var(--window-text-color);

    &:hovered,
    &:pressed,
    &:highlighted
    {
        background-color: var(--focus-color);
        border: 1px solid var(--highlight-color);
    }

    & indicator
    {
        width: var(--icon-size-small);
        height: var(--icon-size-small);

        layout-alignment: content start center -1;
    }

    & arrow
    {
        width: var(--icon-size-small);
        height: var(--icon-size-small);

        icon-name: "arrow-right-symbolic";

        layout-alignment: content end center 0;
    }
}

menubar, menubaritem
{
    width: var(--medium-element-size);
    height: var(--medium-element-size);
    padding: var(--small-spacing);
    spacing: var(--small-spacing);

    border-radius: var(--corner-radius);
}

menubaritem {
    &:hovered,
    &:pressed,
    &:highlighted {
        background-color: var(--focus-color);
        border: 1px solid var(--highlight-color);
    }
    text-alignment-horizontal: center;
    text-alignment-vertical: center;

}