/*
 * SPDX-License-Identifier: BSD-2-Clause
 * SPDX-FileCopyrightText: 2025 Arjen Hiemstra <ahiemstra@heimr.nl>
 * SPDX-FileCopyrightText: 2025 Niccolò Venerandi <niccolo@venerandi.com>
 * SPDX-FileCopyrightText: 2025 Akseli Lahtinen <akselmo@akselmo.dev>
 */

/*
 * All forms of popups: Menus, Dialogs, plain Popup
 */

:root
{
    --tooltip-text-color: custom-color("kcolorscheme", "active", "tooltip", "foreground", "text");
    --tooltip-background-color: custom-color("kcolorscheme", "active", "tooltip", "background", "normal");
    --tooltip-border-color: custom-color("kcolorscheme", "active", "tooltip", "decoration", "frame");
}

menu, popup
{
    border-radius: var(--corner-radius);
    padding: var(--small-spacing);

    background-color: var(--window-background-color);
    border: 1px solid var(--window-border-color);
    color: var(--window-text-color);
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.4);

    &:disabled {
        color: var(--window-disabled-text-color);
        background-color: var(--window-disabled-background-color);
        border: 1px solid var(--window-disabled-border-color);
    }
}

menuitem
{
    width: var(--menu-item-width);
    padding: var(--medium-spacing);
    spacing: var(--small-spacing);

    border-radius: var(--corner-radius);

    color: var(--window-text-color);

    &:hovered,
    &:pressed,
    &:highlighted
    {
        background-color: var(--focus-color);
        border: 1px solid var(--highlight-color);
    }

    &:disabled {
        color: var(--window-disabled-text-color);
    }

    & indicator
    {
        width: var(--icon-size-small);
        height: var(--icon-size-small);

        layout-alignment: content start center -1;
    }

    & arrow
    {
        width: var(--icon-size-small);
        height: var(--icon-size-small);

        icon-name: "arrow-right-symbolic";

        layout-alignment: content end center 0;
    }
}

menuseparator {
    inset: 0px var(--small-spacing);
    width: var(--large-element-size);
    height: 1px;
    background-color: var(--window-border-color);
}

menubar, menubaritem
{
    width: var(--medium-element-size);
    height: var(--medium-element-size);
    padding: var(--small-spacing);
    spacing: var(--small-spacing);

    border-radius: var(--corner-radius);
}

menubaritem {
    &:hovered,
    &:pressed,
    &:highlighted {
        background-color: var(--focus-color);
        border: 1px solid var(--highlight-color);
    }
    text-alignment-horizontal: center;
    text-alignment-vertical: center;

}

dialog
{
    spacing: var(--small-spacing);
    padding: var(--large-spacing);
    border-radius: var(--corner-radius);

    text-alignment-horizontal: center;
    icon-alignment-horizontal: center;

    color: var(--view-text-color);
    border: 1px solid var(--view-border-color);
    background-color: var(--view-background-color);
    box-shadow: var(--dialog-shadow);

    .header {
        font-size: 20px;
        padding: var(--large-spacing);
    }
}

dialogbuttonbox
{
    spacing: var(--small-spacing);
    padding: var(--large-spacing);

    /*
     *    This could look good:
     *    background-color: var(--window-background-color);
     *    border: 1px solid var(--view-border-color);
     *    TODO add border radius to bottom corners only
     */
}

tooltip
{
    width: var(--medium-element-size);
    height: var(--medium-element-size);
    padding: var(--large-spacing);
    background-color: var(--tooltip-background-color);
    border-radius: var(--corner-radius);
    border: 1px solid var(--tooltip-border-color);
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.2);
}
