/*
 * SPDX-License-Identifier: BSD-2-Clause
 * SPDX-FileCopyrightText: 2025 Arjen Hiemstra <ahiemstra@heimr.nl>
 */

scrollbar
{
    width: var(--scrollbar-size);
    height: var(--scrollbar-size);

    padding: var(--medium-spacing);

    &.horizontal {
        border-top: 1px solid var(--scrollbar-border-color);
    }

    &.vertical {
        border-left: 1px solid var(--scrollbar-border-color);
    }

    handle
    {
        background-color: var(--scrollbar-handle-color);
        border: 1px solid var(--scrollbar-border-color);
        border-radius: var(--small-element-size);

        &:hovered,
        &:pressed
        {
            background-color: var(--scrollbar-active-color);
            border-color: var(--scrollbar-active-color);
        }
    }
}
