/*
 * SPDX-License-Identifier: BSD-2-Clause
 * SPDX-FileCopyrightText: 2025 Akseli Lahtinen <akselmo@akselmo.dev>
 */

slider, rangeslider {
	&.horizontal {
		width: 200px;
		height: 6px;
	}

	&.vertical {
		width: 6px;
		height: 200px;
	}

	background-color: var(--slider-background-color);
	border: 1px solid var(--slider-border-color);
	border-radius: var(--corner-radius);
}

slider fill, rangeslider fill {
	background-color: var(--slider-fill-color);
	border-radius: var(--corner-radius);
}


slider handle, rangeslider handle{
	width: var(--medium-element-size);
	height: var(--medium-element-size);
	background-color: var(--slider-handle-background-color);
	border: 1px solid var(--slider-border-color);
	border-radius: var(--small-element-size);

	&:hovered {
		border-color: var(--highlight-color);
	}

	&:visual-focus {
		border-color: var(--highlight-color);
		outline: var(--focus-outline);
	}
}

slider:pressed handle, rangeslider handle:pressed {
	background-color: var(--slider-handle-highlight-color);
	border-color: var(--highlight-color);
}