/*
 * SPDX-License-Identifier: BSD-2-Clause
 * SPDX-FileCopyrightText: 2025 Arjen Hiemstra <ahiemstra@heimr.nl>
 */

label {

}

textfield,
textarea,
spinbox
{
    height: var(--large-element-size);
    padding: var(--large-spacing);
    border-radius: var(--corner-radius);

    border: 1px solid var(--view-border-color);
    background-color: var(--view-background-color);
    color: var(--view-text-color);

    &:hovered,
    &:visual-focus {
        border: 1px solid var(--highlight-color);
    }

    &:visual-focus {
        outline: 2px solid var(--focus-color);
    }
}

textfield,
textarea
{
    width: 100px;
}

heading {
    &.primary {
        font-weight: bolder;
    }

    &.level-1 {
        font-size: 135%;
    }

    &.primary.level-1 {
        font-size: 135%;
        font-weight: bolder;
    }

    &.level-2 {
        font-size: 120%;
    }

    &.primary.level-2 {
        font-size: 120%;
        font-weight: bolder;
    }

    &.level-3 {
        font-size: 115%;
    }

    &.primary.level-3 {
        font-size: 115%;
        font-weight: bolder;
    }

    &.level-4 {
        font-size: 110%;
    }

    &.primary.level-4 {
        font-size: 110%;
        font-weight: bolder;
    }

    &.secondary {
        opacity: 0.75;
    }
}
