/*
 * SPDX-License-Identifier: BSD-2-Clause
 * SPDX-FileCopyrightText: 2025 Arjen Hiemstra <ahiemstra@heimr.nl>
 */

:root {
    /* Standard Sizes */
    --small-spacing: 4px;
    --medium-spacing: 6px;
    --large-spacing: 8px;
    --grid-unit: 18px;
    --corner-radius: 4px;

    /* Icon sizes */
    --icon-size-small: 16px;
    --icon-size-smallmedium: 22px;
    --icon-size-medium: 32px;
    --icon-size-large: 48px;

    /* Default item sizes */
    --small-element-size: 16px;
    --medium-element-size: 24px;
    --large-element-size: 32px;
    --scrollbar-size: 20px;

    /* Colors */
    --highlight-color: #3daee9;

    --window-text-color: #232629;
    --window-background-color: #eff0f1;
    --window-border-color: mix(var(--window-background-color), var(--window-text-color), 0.3);
    --window-highlight-color: mix(var(--window-background-color), var(--highlight-color), 0.5);

    --button-text-color: #232629;
    --button-background-color: #fcfcfc;
    --button-border-color: mix(var(--button-background-color), var(--button-text-color), 0.3);
    --button-highlight-color: mix(var(--button-background-color), var(--highlight-color), 0.5);
    --button-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.1);

    --view-text-color: #232629;
    --view-background-color: #ffffff;
    --view-border-color: mix(var(--view-background-color), var(--view-text-color), 0.3);
    --view-highlight-color: mix(var(--view-background-color), var(--highlight-color), 0.5);

    --header-text-color: #232629;
    --header-background-color: #dee0e2;
    --header-border-color: mix(var(--header-background-color), var(--header-text-color), 0.3);

    --card-background-color: var(--view-background-color);
    --card-text-color: var(--view-text-color);
    --card-border-color: var(--view-border-color);
    --card-hover-color: mix(var(--card-background-color), var(--highlight-color), 0.1);
    --card-pressed-color: mix(var(--card-background-color), var(--highlight-color), 0.3);

    --scrollbar-border-color: var(--window-border-color);
    --scrollbar-handle-color: mix(var(--window-background-color), var(--window-text-color), 0.3);
    --scrollbar-active-color: mix(var(--window-background-color), var(--highlight-color), 0.3);

    --focus-color: rgba(61, 174, 233, 0.42);

    --shadow-color: rgba(0, 0, 0, 0.1);

    /* Standard Elements */
    --button-border: 1px solid var(--button-border-color);
    --focus-outline: 2px solid var(--focus-color);
}
