/*
 * SPDX-License-Identifier: BSD-2-Clause
 * SPDX-FileCopyrightText: 2026 Akseli Lahtinen <akselmo@akselmo.dev>
 */

/* Holds data for basic primitives such as arrow indicators. These are only the names for them,
and they're mapped to PE_IndicatorArrowLeft etc. */

indicatorarrowup {
    icon-name: "arrow-up-symbolic";
}

indicatorarrowdown {
    icon-name: "arrow-down-symbolic";
}

indicatorarrowleft {
    icon-name: "arrow-left-symbolic";
}

indicatorarrowright {
    icon-name: "arrow-right-symbolic";
}