/*
 * SPDX-License-Identifier: BSD-2-Clause
 * SPDX-FileCopyrightText: 2026 Arjen Hiemstra <ahiemstra@heimr.nl>
 */

@property --color-group {
    syntax: "<string>";
    inherits: true;
    initial-value: "active";
}

@property --color-set {
    syntax: "<string>";
    inherits: true;
}

.inactive {
    --color-group: "inactive";
}

:disabled {
    --color-group: "disabled";
}

[color-set="window"] {
    --color-set: "window";
}

[color-set="button"] {
    --color-set: "button";
}

[color-set="view"] {
    --color-set: "view";
}

[color-set="selection"] {
    --color-set: "selection";
}

[color-set="tooltip"] {
    --color-set: "tooltip";
}

[color-set="complementary"] {
    --color-set: "complementary";
}

[color-set="header"] {
    --color-set: "header";
}
