/*
 * SPDX-License-Identifier: BSD-2-Clause
 * SPDX-FileCopyrightText: 2026 Akseli Lahtinen <akselmo@akselmo.dev>
 */

/* Holds data for basic primitives such as arrow indicators. These are only the names for them,
and they're mapped to PE_IndicatorArrowLeft etc. */

/* Plain widget element */
widget {
    background-color: var(--window-background-color);
}

statusbar {
    background-color: var(--window-background-color);
    item {
        border: var(--button-border);
    }
}

toolbox {
    tabbutton {
        border-radius: var(--corner-radius);
    }
}

/* Primitive Elements */

indicatorarrowup {
    icon-name: "arrow-up-symbolic";
    color: var(--window-text-color);
}

indicatorarrowdown {
    icon-name: "arrow-down-symbolic";
    color: var(--window-text-color);
}

indicatorarrowleft {
    icon-name: "arrow-left-symbolic";
    color: var(--window-text-color);
}

indicatorarrowright {
    icon-name: "arrow-right-symbolic";
    color: var(--window-text-color);
}

indicatorbuttondropdown {
    icon-name: "arrow-down-symbolic";
    color: var(--window-text-color);
}

/* Pixel Metrics. Anything named "size" only uses Width property */

smalliconsize {
    width: var(--icon-size-small);
}

listviewiconsize {
    width: var(--icon-size-smallmedium);
}

iconviewiconsize {
    width: var(--icon-size-medium);
}

largeiconsize,
messageboxiconsize {
    width: var(--icon-size-large);
}

textcursorwidth {
    width: 1px;
}

