/*
 * SPDX-License-Identifier: BSD-2-Clause
 * SPDX-FileCopyrightText: 2025 Arjen Hiemstra <ahiemstra@heimr.nl>
 */

/*
 * This file contains mainly grouped properties that provide shorthands for some
 * of the properties defined in "generated-properties.css" above.
 */

@property padding {
    syntax: "<length>{1,4}";
}

@property inset {
    syntax: "<length>{1,4}";
}

@property margin {
    syntax: "<length>{1,4}";
}

@property layout-alignment {
    syntax: "(item | content | background) (start | center | end | fill) (start | center | end | fill | stack) <integer>"
}

@property border {
    syntax: "<length> (solid | dotted | dashed) <color>";
}

@property border-width {
    syntax: "<length>";
}

@property border-color {
    syntax: "<color>";
}

@property border-radius {
    syntax: "<length> | (<length> <length> <length> <length>)";
}

@property outline {
    syntax: "<length> (solid | dashed) <color>";
}

@property color {
    syntax: "<color>";
    inherits: true;
    initial-value: #ffffff;
}

@property text-alignment {
    syntax: "(item | content | background) (start | center | end | fill) (start | center | end | fill | stack) <integer>"
}

@property icon-alignment {
    syntax: "(item | content | background) (start | center | end | fill) (start | center | end | fill | stack) <integer>"
}

@property shadow {
    syntax: "<length> <length> <length> <color>";
}

@property background-image {
    syntax: "<url>";
}
